* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

/* Utility Classes */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* End Utility Classes */

/* Header Styles */
.header {
    padding: 20px;
    background-color: #2a607c;
}

.header h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* End Header Styles */

/* Hero Styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* End Hero Styles */

/* Services Section Styles */
.services-container {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.service img {
    max-height: 200px;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* End Services Section Styles */

/* Benefits Section Styles */
.benefits-container {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* End Benefits Section Styles */

/* Footer Style */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* End Footer Styles */